.piano {
  .frame {
    fill: var(--accent);
  }
  margin: 2rem 0;
  .white {
    fill: #fff;
  }

  .black {
    fill: var(--fg-15);
  }
  .key {
    stroke-width: 1px;
    cursor: pointer;

    &:hover {
      path:not(.outline) {
        fill: rgb(128, 201, 223);
      }
    }
    &.pressed {
      path:not(.outline) {
        fill: rgb(142, 223, 128) !important;
      }
    }

  }
  .outline {
    fill: var(--fg);
  }
 
 
}
