.piano {
  margin: 2rem 0;
  .white {
    fill: #fff;
  }

  .black {
    fill: var(--fg-15);
  }
  .key {
    stroke: var(--fg-15);
    stroke-width: 1px;
    cursor: pointer;
  }
  .key:hover,
  .pressed {
    fill: rgb(161, 128, 223) !important;
  }
}
