.piano {
  margin: 2rem 0;
  .white {
    fill: #fff;
  }

  .black {
    fill: rgb(22, 22, 22);
  }
  .key {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
  }
  .key:hover,
  .pressed {
    fill: rgb(161, 128, 223) !important;
  }
}
