.toggle-fieldset {
  border: none;
  width: 50%;
  appearance: none;
  .toggle {
    display: block;
    height: 2rem;
    position: relative;
    margin-top: 3px;
    background-color: #eee;
    border-radius: 8px;
    text-align: center;
    width: auto;
    @media screen and (min-width: 740px) {
      max-width: 50vw;
    }

    .label,
    .switch {
      font-size: 0.8rem;
      color: --var(--fg);
      line-height: 2rem;
    }

    .label {
      cursor: pointer;
      border-radius: 8px;
      position: relative;
      width: 50%;
      height: 100%;
      margin: 0;
      text-align: center;
      float: left;
    }

    .input {
      position: absolute;
      opacity: 0;
      &:focus-visible {
        & + .label {
          box-shadow: 0px 0px 2px 3px var(--focus-color);
        }
      }
    }

    .switch {
      cursor: pointer;
      display: block;
      border-radius: 8px;
      transition: all 0.2s ease-out;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      width: 50%;
      font-variation-settings: "wght" 700;
      height: 100%;
      color: #444444;
      border:0;
      background-color:  var(--accent);
;


      &:active, &:hover {
        background: var(--highlight);
      }
    }

    .input:last-of-type:checked ~ .switch {
      left: 50%;
    }
  }
}
