.controls {
  padding-top: 1rem;
  button {
    &:first-of-type {
      margin-right: 1rem;
    }
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    appearance: none;
    padding: 0.5rem;
    border: 0;
    background: var(--accent)
  }

}