.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 3em;
    font-family: "Neon Glow", cursive;
    color: hsl(350, 100%, 80%);
  }

  .main {
    max-width: 60%;
    border-radius: 25px;
    padding: 2rem 5rem;
    background: hsl(43, 100%, 99%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .instructions {
      &-button  {
        cursor: pointer;
        display: block;
        border-radius: 8px;
        padding: 0.5rem;
        font-variation-settings: "wght" 700;
        color: #444444;
        border:0;
        background-color:  var(--accent);
        &:hover {
          background-color: var(--highlight);
        }
      }
      height: 0;
      overflow: hidden;
      border-radius: 6px;
      max-width: 80%;
      padding: 1rem;
      &-expanded {
        height: auto;
       }
    }
  }

  .select-wrapper {
      label {
        display: inline-block;
        font-size: 0.8rem;
        margin-bottom: 2px;
      }
      &:first-of-type {
        margin-right: 1rem;
      }
      select {
      width: 100%;
      appearance: none;
      border-radius: 6px;
      border: 2px solid var(--accent);
      padding: 0.5rem;
      padding-right: 1.5rem;
      background-image: url('../public/images/arrow.svg');
      background-position: right;
      background-size:
      auto,
      34px 100%,
      1px 100%;
      background-repeat: no-repeat;
    }
  
  }

  .selectors {
    display: flex; 
    align-items: center;
  }
  .footer {
    color:hsl(180, 1%, 34%);
    text-align: center;
    padding: 2rem 0;
  }
}
